<h2>{{ title }}</h2>
<form>
    <div class="form-grid">
        <label for="task-creation-date">Дата создания</label>
        <input type="datetime-local" id="task-creation-date" name="create_date" value="{{ create_date }}" readonly>
        <label for="task-creation-date">Дата окончания</label>
        {% if date_end == None %}
        <div>Нет</div>
        {% else %}
        <input type="datetime-local" id="task-date-end" name="date_end" value="{{ date_end }}" readonly>
        {% endif %}
        <label for="task-description">Описание задачи</label>
        <textarea id="task-description" name="description" readonly>{{ description }}</textarea>
        <label for="task-priority">Приоритет</label>
        <div>
            {% if priority.name == 'Срочно' %}
            <div class="priority high">{{ priority.name }}</div>
            {% elif priority.name == 'Важно' %}
            <div class="priority medium">{{ priority.name }}</div>
            {% elif priority.name == 'Неважно' %}
            <div class="priority low">{{ priority.name }}</div>
            {% endif %}
        </div>
        <label for="task-status">Статус</label>
        <div>
            <div class="status">{{ status.name }}</div>
        </div>
        <label for="task-labels">Метки</label>
        <div class="task-labels-container">
            {% for label in labels %}
            <div class="label">{{ label.name }}</div>
            {% endfor %}
        </div>
    </div>
</form>